<div class="components-column">
  <h2>Component 1</h2>
  <br>
  <p>This button should increase count by one</p>
  <button class="btn btn-success" (click)="increaseCount()">Increase count</button>

  <br>
  <br>

  <p><strong>Message</strong></p>
  <input type="text" [(ngModel)]="message" placeholder="Enter your message">
  <br>
  <p>This button should send the message</p>
  <button class="btn btn-success" (click)="sendMessage()">Send message</button>

<!--  <p>Show State data</p>-->
<!--  <button class="btn btn-success" (click)="showStateData()">Show State data</button>-->
</div>

